<%- include('partial/head') %>


    <%- include('partial/sidebar') %>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    </ol>
                </div>

                


                <div class="row">
                    <% if (User.role=="Super Admin" ) { %>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Payments</h4>
                                    <div>
                                        <p>
                                            <%= payment.length %>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-responsive-md">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Mode of Payment</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let pay of payment){ %>
                                                    <tr>
                                                        <% let arr=Object.values(payment)%>
                                                            <td><strong>
                                                                    <%=arr.indexOf(pay) + 1 %>
                                                                </strong></td>
                                                            <td>
                                                                <%= pay.fName %>
                                                            </td>
                                                            <td>
                                                                <%= pay.email %>
                                                            </td>
                                                            <td>
                                                                <%= pay.mode %>
                                                            </td>
                                                            <td>
                                                                <%= pay.amount %>
                                                            </td>
                                                            <td>
                                                                <%= pay.status %>
                                                            </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-12">
                                <div class="row">
                                    <% for(let sesn of session){%>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="card">
                                                <img class="card-img-top img-fluid" src="/public/assets/images/dashboard.jpeg" alt="Session image">
                                                <div class="card-header border-0">
                                                    <div class="mr-auto pr-3">
                                                        <h3 class="card-title">
                                                            <%= sesn.name %>
                                                        </h3>
                                                        <p><i class="fa fa-circle text-primary mr-1"></i> Upcoming</p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="card-body">
                                                    
                                                    <ul class="m-md-auto mt-2">
                                                        <li><i class="las la-user scale5 mr-3"></i><%= sesn.speakers %></li>
                                                        <li class="mb-2 text-nowrap"><i class="las la-clock scale5 mr-3"></i><span class="fs-14 text-black text-nowrap font-w500">
                                                            <%= sesn.duration %> | <%= sesn.startTime %> - <%=sesn.endTime %>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="text-right">
                                                        <a href="/session/<%= sesn._id %> " class="btn-outline-primary">Details</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <% } %>
                                </div>



                            
                        </div>

                        <% }else{ %>
                            <div class="col-xl-12">
                                <img src="/public/assets/images/dashboard.jpeg" alt="" style="width: 100%; height: 100%;">
                            </div>
                            <%}%>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include('partial/footer') %>