<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ICEECE | Paper Submission</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/images/favicon.png">
	<link href="/public/assets/Dash/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />

	<link href="/public/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/public/assets/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body> 

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="./images/logo.png" alt="">
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->


		
		
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
								Dashboard
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
							
                            <li class="nav-item dropdown header-profile">
                                <% if (User) { %>
                                 
                               
                                <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
                                    <img src="images/profile/17.jpg" width="20" alt=""/>
									<div class="header-info">
										<span class="text-black"><strong><%=User ?  User.Username: "" %> </strong></span>
									  <p class="fs-12 mb-0"> <%=User.role%></p>  
									</div>
                                </a> 
                                <% } %>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/profile" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="/logout" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">ICEECE</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="/dashboard">Dashboard</a></li>
							<li><a href="/profile">Profile</a></li>
						</ul>
                    </li>
                    <% if (User.role == "Super Admin") { %>
                       <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Role Players</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="/admin/create">Add Role Player</a></li>
                                <li><a href="/admin/role-player">View Role Player</a></li>
                            </ul>
                        </li> 
                    <% } %>
                    <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Conference Data</span>
                            </a>
                            <ul aria-expanded="false">
                                <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                                    <li><a href="/admin/participants">Participants</a></li>
                                    <li><a href="/admin/speakers">Speakers</a></li>
                                    <li><a href="/admin/presenters">Presenters</a></li>
                                    <li><a href="/admin/attendance">Attendance</a></li>
                                <% } %>
                                <% if (User.role == "Super Admin") { %>
                                    <li><a href="/admin/role-player">Role Players</a></li>
                                    <li><a href="/admin/payments">Payments</a></li>
                                    <li><a href="#">Material Receipt</a></li>
                                <% } %>
                                
                            </ul>
                        </li>
                    <% } %>
                    
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Session</span>
						</a>
                        <ul aria-expanded="false">
                                <li><a href="/session">Sessions</a></li>
                            <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                                <li><a href="/admin/speakers">Speakers</a></li>
                                <li><a href="#">Presenters</a></li>
                            <% } %>
							
                            <% if (User.role == "Speaker" || User.role == "Presenter") { %>
                                <li><a href="#">Your Session</a></li>
							    <li><a href="/session">Other Sessions</a></li>
                            <% } %>
						</ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Live</span>
						</a>
                        <ul aria-expanded="false">
                            <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                                <li><a href="#">Go Live</a></li>
                            <% } %>
							
						</ul>
                    </li>
                    <% if (User.role == "Super Admin" || User.role == "Presenter") { %>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Submissions</span>
                            </a>
                            <% if (User.role == "Super Admin") { %>
                                <ul aria-expanded="false">
                                    <li><a href="/submitPaper">Paper Submissions</a></li>
                                    <li><a href="/">Reviewers</a></li>
                                </ul>
                            <% } %>
                            <% if (User.role == "Presenter") { %>
                                <li><a href="/submitPaper">Paper Submissions</a></li>
                            <% } %>
                            
                        </li>
                    <% } %>
                    <% if (User.role == "Super Admin" || User.role == "Program Manager" || User.role == "Protocol Officer") { %>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Attendance</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="/admin/attendance">Overview</a></li>
                                <li><a href="/admin/attendance">Attendance Data</a></li>
                            </ul>
                        </li>
                    <% } %>
                    
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Payments</span>
						</a>
                        
                        <ul aria-expanded="false">
                            <% if (User.role == "Super Admin" || User.role == "Sales Manager") { %>
                                <li><a href="/user/payment-confirmation">Request Approval</a></li>
                                <li><a href="/admin/payments">Approved Requests</a></li>
                            <% } %>
                            <% if (User.role == "user" || User.role == "Presenter") { %>
                                <li><a href="/user/payment-confirmation">Request Approval</a></li>
                            <% } %>
							
						</ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Others</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="/">Conference Materials</a></li>
							<li><a href="/profile">Profile</a></li>
                            <li><a href="/contacts">Contacts</a></li>
						</ul>
                    </li>
                    
                </ul>
				
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Submit</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
								<!-- <%- include ('../partial/message.ejs') %> -->
								<% if(success != ""){ %>
									<div class="alert alert-primary solid alert-dismissible fade show">
										<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
										</button> <%= success %> <a href="/user/paperDetails/<%=paper._id%>" class="badge badge-sm light badge-primary ml-1">view</a>
                                	</div>
								<% } %>
								
                                <form action="/submitPaper" method="post" enctype="multipart/form-data">
									<!-- <div class="email-left-box px-0 mb-3"> -->
										<div class="row">
											<!-- <div action="#" > -->
												<div class="col-lg-6 form-group">
													<input type="text" class="form-control bg-transparent" name="fName" placeholder=" First Name">
												</div>
												<div class="col-lg-6 form-group">
													<input type="text" class="form-control bg-transparent" name="lName" placeholder=" Last Name">
												</div>
												<div class="col-lg-6 form-group">
													<input type="email" class="form-control bg-transparent" name="email" placeholder=" Email">
												</div>
												<div class="col-lg-6 form-group">
													<input type="number" class="form-control bg-transparent" name="no" placeholder=" Phone Number">
												</div>
												<div class="col-lg-6 form-group">
													<input type="text" class="form-control bg-transparent" name="institution" placeholder=" Institution">
												</div>
												<div class="col-lg-6 form-group">
													<input type="text" class="form-control bg-transparent" name="department" placeholder=" Department">
												</div>
												<div class="col-lg-6 form-group">
													<input type="text" class="form-control bg-transparent" name="position" placeholder=" Position">
												</div>
												<div class="col-lg-6 form-group">
													<input type="text" class="form-control bg-transparent" name="title" placeholder=" Title">
												</div>
												<div class="col-lg-12 form-group">
													<input type="text" class="form-control bg-transparent" name="authors" placeholder=" Authors">
												</div>
											<!-- </div> -->
										</div>
										<div class="row">
											<div class="col-lg-6">
												<div class=" form-group">
													<label class="text-label"><h5 class="mb-2"><i class="fa fa-paperclip"></i> Passport</h5></label>
													<input name="file" type="file" multiple class="mb-3 btn btn-outline-primary btn form-control-file"/>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label class="text-label"><h5 class="mb-2"><i class="fa fa-paperclip"></i> Attachment</h5></label>
													<input type="file" name="file" id="" value="Upload Paper" multiple class="mb-3 btn btn-outline-primary btn form-control-file">
												</div>
											</div>
										</div>
									<div class="text-center mt-4 mb-2 ">
										<button class="btn btn-primary btn-sl-sm mr-2" type="submit"><span class="mr-2"><i class="fa fa-paper-plane"></i></span>Send</button>
										<button class="btn btn-danger light btn-sl-sm" type="submit"><span class="mr-2"><i class="fa fa-times" aria-hidden="true"></i></span>Discard</button>
									</div>
								</form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Hud</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/public/assets/vendor/global/global.min.js"></script>
	<script src="/public/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/public/assets/js/custom.min.js"></script>
	<script src="/public/assets/js/deznav-init.js"></script>

    <script src="/public/assets/Dash/plugins/dropzone/dropzone.min.js"></script>




</body>

</html>