<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Details</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
	<link rel="stylesheet" href="/public/assets/vendor/chartist/css/chartist.min.css">
    <link href="/public/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/public/assets/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/public/assets/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="./images/logo.png" alt="">
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
								Dashboard
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
							
                            <li class="nav-item dropdown header-profile">
                                <% if (User) { %>
                                 
                               
                                <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
                                    <img src="images/profile/17.jpg" width="20" alt=""/>
									<div class="header-info">
										<span class="text-black"><strong><%=User ?  User.Username: "" %> </strong></span>
									  <p class="fs-12 mb-0"> <%=User.role%></p>  
									</div>
                                </a> 
                                <% } %>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/profile" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="/logout" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">ICEECE</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="/dashboard">Dashboard</a></li>
							<li><a href="/profile">Profile</a></li>
						</ul>
                    </li>
                    <% if (User.role == "Super Admin") { %>
                       <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Role Players</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="/admin/create">Add Role Player</a></li>
                                <li><a href="/admin/role-player">View Role Player</a></li>
                            </ul>
                        </li> 
                    <% } %>
                    <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Conference Data</span>
                            </a>
                            <ul aria-expanded="false">
                                <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                                    <li><a href="/admin/participants">Participants</a></li>
                                    <li><a href="/admin/speakers">Speakers</a></li>
                                    <li><a href="/admin/presenters">Presenters</a></li>
                                    <li><a href="/admin/attendance">Attendance</a></li>
                                <% } %>
                                <% if (User.role == "Super Admin") { %>
                                    <li><a href="/admin/role-player">Role Players</a></li>
                                    <li><a href="/admin/payments">Payments</a></li>
                                    <li><a href="#">Material Receipt</a></li>
                                <% } %>
                                
                            </ul>
                        </li>
                    <% } %>
                    
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Session</span>
						</a>
                        <ul aria-expanded="false">
                                <li><a href="/session">Sessions</a></li>
                            <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                                <li><a href="/admin/speakers">Speakers</a></li>
                                <li><a href="#">Presenters</a></li>
                            <% } %>
							
                            <% if (User.role == "Speaker" || User.role == "Presenter") { %>
                                <li><a href="#">Your Session</a></li>
							    <li><a href="/session">Other Sessions</a></li>
                            <% } %>
						</ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Live</span>
						</a>
                        <ul aria-expanded="false">
                            <% if (User.role == "Super Admin" || User.role == "Program Manager") { %>
                                <li><a href="#">Go Live</a></li>
                            <% } %>
							
						</ul>
                    </li>
                    <% if (User.role == "Super Admin" || User.role == "Presenter") { %>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Submissions</span>
                            </a>
                            <% if (User.role == "Super Admin") { %>
                                <ul aria-expanded="false">
                                    <li><a href="/submitPaper">Paper Submissions</a></li>
                                    <li><a href="/">Reviewers</a></li>
                                </ul>
                            <% } %>
                            <% if (User.role == "Presenter") { %>
                                <li><a href="/submitPaper">Paper Submissions</a></li>
                            <% } %>
                            
                        </li>
                    <% } %>
                    <% if (User.role == "Super Admin" || User.role == "Program Manager" || User.role == "Protocol Officer") { %>
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-networking"></i>
                                <span class="nav-text">Attendance</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a href="/admin/attendance">Overview</a></li>
                                <li><a href="/admin/attendance">Attendance Data</a></li>
                            </ul>
                        </li>
                    <% } %>
                    
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Payments</span>
						</a>
                        
                        <ul aria-expanded="false">
                            <% if (User.role == "Super Admin" || User.role == "Sales Manager") { %>
                                <li><a href="/user/payment-confirmation">Request Approval</a></li>
                                <li><a href="/admin/payments">Approved Requests</a></li>
                            <% } %>
                            <% if (User.role == "user" || User.role == "Presenter") { %>
                                <li><a href="/user/payment-confirmation">Request Approval</a></li>
                            <% } %>
							
						</ul>
                    </li>
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Others</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="/">Conference Materials</a></li>
							<li><a href="/profile">Profile</a></li>
                            <li><a href="/contacts">Contacts</a></li>
						</ul>
                    </li>
                    
                </ul>
				
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
			
            <!-- row -->
				<div class="container-fluid">
					<div class="page-titles">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
							<li class="breadcrumb-item active"><a href="javascript:void(0)">Summary</a></li> 
						</ol>
					</div>
					<div class="row mb-5">
						<div class="col-lg-8">
							<p><strong>Paper Title:</strong></p>
							<div><em><%= doc.title %></em></div>
						</div>
						<div class="col-lg-4">
							
							<div class="d-flex">
								<h5 class="">Status:</h5>
								<span class="badge badge-xs light badge-primary">Under review</span>
							</div>
							<a href="/download/<%= doc._id %> " class="btn btn-outline-primary"><%= doc.fileName %></a>
							
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12">	
							<div class="card">
								<div class="card-header d-sm-flex d-block pb-0 border-0">
									<div class="mr-auto pr-3">
										<h4 class="text-black font-w600 fs-20">Authors</h4>
										<!-- <p class="fs-13 mb-0 text-black">Lorem ipsum dolor sit amet, consectetur</p> -->
									</div>
									<!-- <a href="food-menu.html" class="btn btn-outline-primary rounded d-none d-md-block">View More</a> -->
								</div>
								<div class="card-body pt-2">
									<div class="testimonial-one owl-carousel">
										<div class="items">
													<div class="card text-center">
														<div class="card-body">
															<img src="images/testimonial/1.jpg" alt="">
															<h5 class="fs-16 font-w500 mb-1"><a href="app-profile.html" class="text-black">CEO Ic</a></h5>
															<p class="fs-14">Bsc,MSc,phD</p>
															<div class="d-flex align-items-center justify-content-center">
																<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M5.09569 20C4.80437 19.9988 4.51677 19.9344 4.25273 19.8113C3.98868 19.6881 3.75447 19.5091 3.56624 19.2866C3.37801 19.0641 3.24024 18.8034 3.16243 18.5225C3.08462 18.2415 3.06862 17.9471 3.11554 17.6593L3.88905 12.8902L0.569441 9.45986C0.312024 9.19466 0.132451 8.86374 0.0503661 8.50328C-0.0317185 8.14282 -0.0131526 7.76671 0.104033 7.4161C0.221219 7.06549 0.43251 6.75388 0.714792 6.51537C0.997074 6.27685 1.33947 6.12062 1.70453 6.06376L6.20048 5.37325L8.18158 1.13817C8.34755 0.796915 8.60606 0.509234 8.92762 0.307978C9.24917 0.106721 9.6208 0 10.0001 0C10.3793 0 10.751 0.106721 11.0725 0.307978C11.3941 0.509234 11.6526 0.796915 11.8186 1.13817L13.7931 5.36719L18.2955 6.06376C18.6606 6.12062 19.003 6.27685 19.2852 6.51537C19.5675 6.75388 19.7788 7.06549 19.896 7.4161C20.0132 7.76671 20.0318 8.14282 19.9497 8.50328C19.8676 8.86374 19.688 9.19466 19.4306 9.45986L16.1144 12.8765L16.885 17.66C16.9463 18.0327 16.9014 18.4152 16.7556 18.7635C16.6097 19.1119 16.3687 19.4121 16.0602 19.6297C15.7517 19.8473 15.3882 19.9735 15.0113 19.994C14.6344 20.0144 14.2593 19.9281 13.9292 19.7451L10.0026 17.5635L6.07117 19.7451C5.77302 19.9118 5.43724 19.9996 5.09569 20Z" fill="#FFAA29"/>
																</svg>
																
															</div>
														</div>
													</div>
										</div>
										<div class="items">
													<div class="card text-center">
														<div class="card-body">
															<img src="images/testimonial/2.jpg" alt="">
															<h5 class="fs-16 font-w500 mb-1"><a href="app-profile.html" class="text-black">Cindy Moss</a></h5>
															<p class="fs-14">Fat Belly Trainer</p>
															<div class="d-flex align-items-center justify-content-center">
																<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M5.09569 20C4.80437 19.9988 4.51677 19.9344 4.25273 19.8113C3.98868 19.6881 3.75447 19.5091 3.56624 19.2866C3.37801 19.0641 3.24024 18.8034 3.16243 18.5225C3.08462 18.2415 3.06862 17.9471 3.11554 17.6593L3.88905 12.8902L0.569441 9.45986C0.312024 9.19466 0.132451 8.86374 0.0503661 8.50328C-0.0317185 8.14282 -0.0131526 7.76671 0.104033 7.4161C0.221219 7.06549 0.43251 6.75388 0.714792 6.51537C0.997074 6.27685 1.33947 6.12062 1.70453 6.06376L6.20048 5.37325L8.18158 1.13817C8.34755 0.796915 8.60606 0.509234 8.92762 0.307978C9.24917 0.106721 9.6208 0 10.0001 0C10.3793 0 10.751 0.106721 11.0725 0.307978C11.3941 0.509234 11.6526 0.796915 11.8186 1.13817L13.7931 5.36719L18.2955 6.06376C18.6606 6.12062 19.003 6.27685 19.2852 6.51537C19.5675 6.75388 19.7788 7.06549 19.896 7.4161C20.0132 7.76671 20.0318 8.14282 19.9497 8.50328C19.8676 8.86374 19.688 9.19466 19.4306 9.45986L16.1144 12.8765L16.885 17.66C16.9463 18.0327 16.9014 18.4152 16.7556 18.7635C16.6097 19.1119 16.3687 19.4121 16.0602 19.6297C15.7517 19.8473 15.3882 19.9735 15.0113 19.994C14.6344 20.0144 14.2593 19.9281 13.9292 19.7451L10.0026 17.5635L6.07117 19.7451C5.77302 19.9118 5.43724 19.9996 5.09569 20Z" fill="#FFAA29"/>
																</svg>
																<span class="fs-14 d-block ml-2 pr-2 mr-2 border-right text-black font-w500">4.4</span>
																<a href="app-profile.html" class="btn-link fs-14">Send Request</a>
															</div>
														</div>
													</div>
										</div>
										<div class="items">
													<div class="card text-center">
														<div class="card-body">
															<img src="images/testimonial/3.jpg" alt="">
															<h5 class="fs-16 font-w500 mb-1"><a href="app-profile.html" class="text-black">Ivankov Smurz</a></h5>
															<p class="fs-14">Sixpack Builder</p>
															<div class="d-flex align-items-center justify-content-center">
																<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M5.09569 20C4.80437 19.9988 4.51677 19.9344 4.25273 19.8113C3.98868 19.6881 3.75447 19.5091 3.56624 19.2866C3.37801 19.0641 3.24024 18.8034 3.16243 18.5225C3.08462 18.2415 3.06862 17.9471 3.11554 17.6593L3.88905 12.8902L0.569441 9.45986C0.312024 9.19466 0.132451 8.86374 0.0503661 8.50328C-0.0317185 8.14282 -0.0131526 7.76671 0.104033 7.4161C0.221219 7.06549 0.43251 6.75388 0.714792 6.51537C0.997074 6.27685 1.33947 6.12062 1.70453 6.06376L6.20048 5.37325L8.18158 1.13817C8.34755 0.796915 8.60606 0.509234 8.92762 0.307978C9.24917 0.106721 9.6208 0 10.0001 0C10.3793 0 10.751 0.106721 11.0725 0.307978C11.3941 0.509234 11.6526 0.796915 11.8186 1.13817L13.7931 5.36719L18.2955 6.06376C18.6606 6.12062 19.003 6.27685 19.2852 6.51537C19.5675 6.75388 19.7788 7.06549 19.896 7.4161C20.0132 7.76671 20.0318 8.14282 19.9497 8.50328C19.8676 8.86374 19.688 9.19466 19.4306 9.45986L16.1144 12.8765L16.885 17.66C16.9463 18.0327 16.9014 18.4152 16.7556 18.7635C16.6097 19.1119 16.3687 19.4121 16.0602 19.6297C15.7517 19.8473 15.3882 19.9735 15.0113 19.994C14.6344 20.0144 14.2593 19.9281 13.9292 19.7451L10.0026 17.5635L6.07117 19.7451C5.77302 19.9118 5.43724 19.9996 5.09569 20Z" fill="#FFAA29"/>
																</svg>
																<span class="fs-14 d-block ml-2 pr-2 mr-2 border-right text-black font-w500">4.4</span>
																<a href="javascript:void(0)" class="btn-link fs-14">Send Request</a>
															</div>
														</div>
													</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<%if(doc.reviews.length != 0){%>
						
						<div class="row"> 
							<div class="col-lg-12">
								<div class="card">
									<div class="mx-3">
										<p><strong>Files:</strong></p> <em>Download file(s) to see recommendations from the reviewers</em>
										<div>
											<div class="card">
												<div class="card-header">
													<h5 class="card-title">Uploads</h5>
												</div>
												<div class="card-body">
													<div class="row">
														<div class="col-6">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrivals-img-contnent">
																			<img class="img-fluid" src="images/product/1.jpg" alt="">
																		</div>
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Correction 1</a></h4>
																			
																			<span class="price">$761.00</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="card">
																<% doc.updates.forEach((update)=>{%>
																	<div class="card-body">
																		<div class="new-arrival-product">
																			<div class="new-arrivals-img-contnent">
																				<img class="img-fluid" src="images/product/1.jpg" alt="">
																			</div>
																			<div class="new-arrival-content text-center mt-3">
																				<h4><a href=""><%= update.fileName %> </a></h4>
																				
																				
																				<span class="price">update.title</span>
																			</div>
																		</div>
																	</div>
																<%}) %> 
																
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<hr>
									
									<div class="row">
										<%doc.reviews.forEach((review)=>{%>
											<div class="col-lg-8">
												<div class="card-body">
													<!-- Default accordion -->
													<div id="accordion-one" class="accordion accordion-primary">
														<div class="accordion__item">
															<div class="accordion__header rounded-lg" data-toggle="collapse" data-target="#default_collapseOne">
																<span class="accordion__header--text">Reviewer 1</span>
																<span class="accordion__header--indicator"></span>
															</div>
															<div id="default_collapseOne" class="collapse accordion__body show" data-parent="#accordion-one">
																<div class="accordion__body--text">
																	<%=review.comment_to_author%>
																</div>
															</div>
														</div>
														<div class="accordion__item">
															<div class="accordion__header collapsed rounded-lg" data-toggle="collapse" data-target="#default_collapseTwo">
																<span class="accordion__header--text">Reviewer 2</span>
																<span class="accordion__header--indicator"></span>
															</div>
															<div id="default_collapseTwo" class="collapse accordion__body" data-parent="#accordion-one">
																<div class="accordion__body--text">
																	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										<%})%>
										<div class="col-xl-4">
											<div class="card">
												<div class="card-header">
													<p>Upload update</p>
												</div>
												<form action="/user/update/<%=doc._id%>" method="post" class="card-body">
													<div class="form-group">
														<label class="text-label"><h5 class="mb-2"><i class="fa fa-paperclip"></i> Attachment</h5></label>
														<input type="file" name="file" id="<%=doc._id%>" multiple class="mb-3 btn btn-outline-primary btn form-control-file">
													</div>
												</form>
												
											</div>
											
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="card">
												<div class="card-header">
													<h5 class="card-title">Ratings</h5>
												</div>
												<div class="card-body">
													<div class="row">
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Title satisfactory</a></h4>
																			
																			<span class="price"><%=doc.reviews.satisy%></span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Prior publication elsewhere</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Descriptive title</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Originality</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Significance</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Clarity</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Repeatability of procedure</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Contribution to knowledge</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Good organization</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Completeness</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">References</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Readability</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Reference to target audience</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Paper score</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-2">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Date of review</a></h4>
																			
																			<span class="price">YES</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-12">
															<div class="card">
																<div class="card-body">
																	<div class="new-arrival-product">
																		<div class="new-arrival-content text-center mt-3">
																			<h4><a href="ecom-product-detail.html">Recommendation</a></h4>
																			
																			<span class="price">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam impedit reprehenderit nesciunt animi ullam, esse aliquam corporis praesentium earum hic! Cum repudiandae nostrum incidunt eius ex illo, laboriosam consectetur odit!</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
			
								</div>
							</div>
						</div>
						
					<%}%>
				</div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Hud</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/public/assets/vendor/global/global.min.js"></script>
	<script src="/public/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/public/assets/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/public/assets/js/custom.min.js"></script>
	<script src="/public/assets/js/deznav-init.js"></script>
	<script src="/public/assets/vendor/owl-carousel/owl.carousel.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="/public/assets/vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Apex Chart -->
	<script src="/public/assets/vendor/apexchart/apexchart.js"></script>
	
	<!-- Dashboard 1 -->
	<script src="/public/assets/js/dashboard/dashboard-1.js"></script>
	<script>
		function carouselReview(){
			/*  testimonial one function by = owl.carousel.js */
			jQuery('.testimonial-one').owlCarousel({
				loop:true,
				autoplay:true,
				margin:30,
				nav:false,
				dots: false,
				left:true,
				navText: ['<i class="fa fa-chevron-left" aria-hidden="true"></i>', '<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
				responsive:{
					0:{
						items:1
					},
					484:{
						items:2
					},
					882:{
						items:3
					},	
					1200:{
						items:2
					},			
					
					1540:{
						items:3
					},
					1740:{
						items:4
					}
				}
			})			
		}
		jQuery(window).on('load',function(){
			setTimeout(function(){
				carouselReview();
			}, 1000); 
		});
	</script>
</body>
</html>