<%- include('../partial/head') %>
    <%- include('../partial/sidebar') %>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active">
                            <a href="javascript:void(0)">Sessions</a>
                        </li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="custom-tab-1">
                            <ul class="nav nav-pills mb-4 light">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#sessionDetails"><i
                                            class="la la-home mr-2"></i> Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#goLive"><i class="fa fa-youtube"></i>
                                        Go Live</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="sessionDetails" role="tabpanel">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Session Detail</h4>

                                            <% if (User.role=="Super Admin" || User.role=="Program Manager" ||
                                                User.role=="Speaker" ) { %>

                                                <a href="#" class="btn btn-ouline-primary m-1 col-xs-3" data-toggle="modal" data-target="#cameraReadyPaper">Upload Camera Ready Paper</a>
                                                <% } %>

                                                    <div class="modal fade" id="cameraReadyPaper">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Upload Camera Ready Paper
                                                                    </h5>
                                                                    <button type="button" class="close" data-dismiss="modal">
                                                                        <span>&times;</span>
                                                                    </button>
                                                                </div> 
                                                                <form action="/session/<%= session._id %>/add-info?_method=PUT" method="post" class="form-group" enctype="multipart/form-data">
                                                                    <div class="modal-body">
                                                                        <div class="form-row"> 
                                                                            <div class="form-group col-md-6">
                                                                                <label for="file">Paper</label>
                                                                                <input type="file" name="file" id="file" class="form-control mb-3" placeholder="Files" multiple class="mb-3 btn btn-outline-primary btn form-control-file" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-danger light" data-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">Add</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                            <% if (User.role=="Super Admin" || User.role=="Program Manager" ||
                                                User.role=="Speaker" ) { %>
                                                <a href="#" class="btn btn-ouline-primary m-1 col-xs-3" data-toggle="modal" data-target="#presentationSlide">Upload
                                                     Presentation Slide</a>
                                                <% } %>

                                                    <div class="modal fade" id="presentationSlide">
                                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Upload Presentation Slide
                                                                            </h5>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span>&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <form action="/session/<%= session._id %>/add-slide?_method=PUT" method="post" class="form-group" enctype="multipart/form-data">
                                                                            <div class="modal-body">
                                                                                <div class="form-row">
                                                                                    <div class="form-group col-md-6">
                                                                                        <label for="file">Slide</label>
                                                                                        <input type="file" name="file" id="file" class="form-control mb-3" placeholder="Files" multiple class="mb-3 btn btn-outline-primary btn form-control-file" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-danger light" data-dismiss="modal">
                                                                                    Close
                                                                                </button>
                                                                                <button type="submit" class="btn btn-primary">Add</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                    </div>

                                            <% if (User.role=="Super Admin" ||
                                                User.role=="Program Manager" ) { %>
                                                <a href="#" class="btn btn-ouline-primary m-1 col-xs-3" data-toggle="modal" data-target="#editModalCenter">Edit Session Info</a>

                                                <!-- Modal -->
                                                <div class="modal fade" id="editModalCenter">
                                                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title">Edit Session
                                                                                </h5>
                                                                                <button type="button" class="close" data-dismiss="modal">
                                                                                    <span>&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <form action="/admin/session/<%=session._id%>?_method=PUT" method="post" class="form-group">
                                                                                <div class="modal-body">
                                                                                    <div class="form-row">
                                                                                        <label for="day">Day <span
                                                                                                style="color: red">*</span></label>
                                                                                        <select name="day" id="day" class="form-control mb-3" required>
                                                                                            <option value=""></option>
                                                                                            <option value="day1"
                                                                                                 <%if(session.day==='day1' ){%>
                                                                                                    selected
                                                                                                    <%} %>
                                                                                                        name="day"
                                                                                                        selected>
                                                                                                        Day 1
                                                                                            </option>
                                                                                            <option value="day2"
                                                                                            <%if(session.day==='day2' ){%>
                                                                                                    selected
                                                                                                    <%} %>
                                                                                                name="day">Day 2
                                                                                            </option>
                                                                                            <option value="day3"
                                                                                                name="day" <%if(session.day==='day3' ){%>
                                                                                                    selected
                                                                                                    <%} %>
                                                                                                    >Day 3
                                                                                            </option>
                                                                                        </select>
                                                                                        <input type="text" name="name" value="<%= session.name%>" id="name" class="form-control mb-3" placeholder="Session Name" />

                                                                                        <div class="form-group col-md-6">
                                                                                            <input type="text" name="type" id="" value="<%= session.type%>" class="form-control mb-3" placeholder="Type" />
                                                                                        </div>
                                                                                        <div class="form-group col-md-6">
                                                                                            <input type="text" name="duration" value="<%= session.duration%>" id="" class="form-control mb-3" placeholder="Duration" />
                                                                                        </div>

                                                                                        <div class="form-group col-md-6">
                                                                                            <input type="text" name="youtube" id="youtube" class="form-control mb-3" placeholder="Youtube Live Link" />
                                                                                        </div>

                                                                                        <div class="form-group col-md-6">
                                                                                            <label for="startTime">Start
                                                                                                Time</label>
                                                                                            <input type="time" name="startTime" id="" value="<%= session.startTime%>" class="form-control mb-3" placeholder="Start Time" />
                                                                                        </div>
                                                                                        <div class="form-group col-md-6">
                                                                                            <label for="endTime">End
                                                                                                Time</label>
                                                                                            <input type="time" name="endTime" id="" value="<%= session.endTime%>" class="form-control mb-3" placeholder="End Time" />
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label class="text-label"><strong>Access</strong>
                                                                                            </label>
                                                                                            <div>
                                                                                                <label class="radio-inline mr-3">International
                                                                                                    Participants
                                                                                                    <input
                                                                                                        type="checkbox"
                                                                                                        value="International Participants" <%if( session.access.indexOf("International Participants") != -1 ){%>
                                                                                                                        checked
                                                                                                                        <%} %>
                                                                                                        name="access" /></label>
                                                                                                <label class="radio-inline mr-3">Local
                                                                                                    Participants
                                                                                                    <input
                                                                                                        type="checkbox"
                                                                                                        value="Local Participants" <%if( session.access.indexOf("Local Participants") != -1 ){%>
                                                                                                                        checked
                                                                                                                        <%} %>
                                                                                                        name="access" /></label>
                                                                                                <label class="radio-inline mr-3">International
                                                                                                    Student
                                                                                                    <input
                                                                                                        type="checkbox"
                                                                                                        value="International Student" <%if( session.access.indexOf("International Student") != -1 ){%>
                                                                                                                        checked
                                                                                                                        <%} %>
                                                                                                        name="access" /></label>
                                                                                                <label class="radio-inline mr-3">Local
                                                                                                    Student
                                                                                                    <input
                                                                                                        type="checkbox"
                                                                                                        value="Local Student" <%if( session.access.indexOf("Local Student") != -1 ){%>
                                                                                                                        checked
                                                                                                                        <%} %>
                                                                                                        name="access" /></label>
                                                                                                <label class="radio-inline mr-3">Postgraduate
                                                                                                    Session Participant
                                                                                                    <input
                                                                                                        type="checkbox"
                                                                                                        value="Postgraduate Session Participant" <%if( session.access.indexOf("Postgraduate Session Participant") != -1 ){%>
                                                                                                                        checked
                                                                                                                        <%} %>
                                                                                                        name="access" /></label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label class="text-label"><strong>Speakers</strong>
                                                                                            </label>
                                                                                            <% for(let user of users){
                                                                                                %>
                                                                                                <% if(user.role=="Speaker" || user.role == "Presenter"
                                                                                                    ){ %>
                                                                                                    <div>
                                                                                                        <label class="radio-inline mr-3">
                                                                                                            <%= user.fName%>
                                                                                                            <%= user.lName%>
                                                                                                                <input
                                                                                                                    type="checkbox"
                                                                                                                    value="<%=user.fName %> 
                                                                                                                    <%=user.lName %>"
                                                                                                                    name="speakers" />
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <% } %>
                                                                                                        <% } %>
                                                                                        </div>

                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-danger light" data-dismiss="modal">
                                                                                        Close
                                                                                    </button>
                                                                                    <button type="submit" class="btn btn-primary">Add</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                </div>

                                                                <!-- delete  -->
                                            <form action="/admin/session/<%= session._id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                            <% } %>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-header border-0 pb-0">
                                                <h2 class="card-title">
                                                    <%= session.name %>
                                                </h2>
                                            </div>
                                            <div class="card-body pb-0">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item d-flex px-0 justify-content-between">
                                                        <strong>Duration</strong>
                                                        <span class="mb-0">
                                                            <%= session.duration %>
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item d-flex px-0 justify-content-between">
                                                        <strong>Start Time</strong>
                                                        <span class="mb-0">
                                                            <%= session.startTime %>
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item d-flex px-0 justify-content-between">
                                                        <strong>Speakers / Presenters</strong>
                                                        <span class="mb-0">
                                                            <%= session.speakers, %> <%=session.institution%>
                                                        </span>
                                                    </li>
                                                    <%if (User.role === "Super Admin" || User.role === "Program Manager") {%>
                                                        <li class="list-group-item d-flex px-0 justify-content-between">
                                                            <strong>Access</strong>
                                                            <span class="mb-0">
                                                                <%= session.access %> 
                                                            </span>
                                                        </li>
                                                    <%}%>
                                                    
                                                    <%if(User.role == "Super Admin"){%>
                                                      <li class="list-group-item d-flex px-0 justify-content-between">
                                                        <strong>Files</strong>
                                                        <span class="mb-0"><%= session.fileName %> 
                                                            <a class="btn btn-primary" href="/download/camera-ready/<%= session._id %>" >
                                                            Download
                                                            </a>
                                                            <div class="modal fade" id="downloadModalCenter">
                                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Upload Camera Ready Paper
                                                                            </h5>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span>&times;</span>
                                                                            </button>
                                                                        </div> 
                                                                        <form action="/download/camera-ready/<%= session._id %>" method="post" class="form-group" enctype="multipart/form-data">
                                                                            <div class="modal-body">
                                                                                <div class="form-row"> 
                                                                                    <div class="form-group col-md-6">
                                                                                        <select name="which" id="">
                                                                                            <% session.cameraReady.forEach(cam => {%>
                                                                                                
                                                                                                <% for (let i = 0; i <= 5; i++){ %>
                                                                                                    <option value="<%= i %>"><%= cam.fileName %></option>
                                                                                                <% } %>
                                                                                            <% }) %>
                                                                                            
                                                                                        </select>
                                                                                        // <select name="" id="">
                                                                                        //     <% session.slide.forEach(sli => {%>
                                                                                        //         <option value="<%= sli.filePath %>"><%= sli.fileName %></option>
                                                                                        //     <% }) %>
                                                                                        // </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-danger light" data-dismiss="modal">
                                                                                    Close
                                                                                </button>
                                                                                <button type="submit" class="btn btn-primary">Add</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <form action="/download/camera-ready/<%= session._id %>" method="get">
                                                                <select name="" id="">
                                                                    <% session.cameraReady.forEach(cam => {%>
                                                                        <option value="<%= cam.filePath %>"><%= cam.fileName %></option>
                                                                    <% }) %>
                                                                </select>
                                                                <select name="" id="">
                                                                    <% session.slide.forEach(sli => {%>
                                                                        <option value="<%= sli.filePath %>"><%= sli.fileName %></option>
                                                                    <% }) %>
                                                                </select> 
                                                                
                                                            </form>
                                                        </span>
                                                        
                                                    </li>  
                                                    <%}%>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="goLive">
                                    <div class="card row align-items-center">
                                        <div class="card-header">
                                            <h4 class="card-title">Live Session <%=session.live%></h4>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= session.live.split('/')[3]%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <%- include('../partial/footer') %>