<%- include('../partial/head') %>

    <%- include('../partial/sidebar') %>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!-- row -->
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Presenters</a></li>
                    </ol>

                    <h5><a href="#" data-toggle="modal" data-target="#createRp" class="btn btn-primary mt-5"><i
                                class="fa fa-pencil"></i> Add Presenter</a></h5>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal fade" id="createRp">
                            <div class="modal-dialog modal-dialog-centered" role="document">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            Add Presenter
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <%- include('../partial/addRpForm') -%>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="custom-tab-1">
                            <ul class="nav nav-pills mb-4 light">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#summary"><i
                                            class="la la-home mr-2"></i> Summary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#more"><i class="fa fa-arrow"></i>
                                        More</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="summary" role="tabpanel">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Presenters</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-responsive-md">
                                                    <thead>
                                                        <tr>
                                                            <th>S/N</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Phone Number</th>
                                                            <th>Material Upload Status</th>
                                                            <th>Manage</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (presenters) { %>
                                                            <% for (let presenter of presenters){%>
                                                                <tr>
                                                                    <% let arr=Object.values(presenter)%>
                                                                        <td><strong>
                                                                                <%=arr.indexOf(presenter) + 1 %>
                                                                            </strong></td>
                                                                        <td>
                                                                            <%= presenter.fName %>
                                                                        </td>
                                                                        <td>
                                                                            <%= presenter.email %>
                                                                        </td>
                                                                        <td>
                                                                            <%= presenter.phoneNumber %>
                                                                        </td>
                                                                        <td>Completed/Not completed</td>
                                                                        <td>
                                                                            <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1" data-toggle="modal" data-target="#edit<%=presenter._id%>"><i
                                                                                class="fa fa-pencil"></i></a>
                                                                            <a href="#" data-toggle="modal" data-email='<%= presenter.email %>' data-target="#manage" class="btn btn-primary shadow btn-xs sharp mr-1"><i
                                                                                    class="fa fa-envelope"></i></a>
                                                                            <a href="#" class="btn btn-danger shadow btn-xs sharp mr-1" data-toggle="modal" data-target="#delete"><i
                                                                                class="fa fa-trash"></i></a>
                                                                        </td>
                                                                </tr>
                                                                            <div class="modal fade" id="manage">
                                                                                <div class="modal-dialog modal-dialog-centered" role="document">

                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h5 class="modal-title">
                                                                                                Contact Presenter
                                                                                            </h5>
                                                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                                            </button>
                                                                                        </div>

                                                                                        <div class="modal-body">
                                                                                            <form action="#">
                                                                                                <div class="form-group">
                                                                                                    <textarea class="form-control" rows="4" id="manageMessage" placeholder="Write a message to the presenter"></textarea>
                                                                                                </div>

                                                                                                <input type="text" name="email" class="form-control mb-3" placeholder="Email" value="<%= presenter.email %>">

                                                                                                <button type="submit" class="btn btn-primary">Send
                                                                                                    Message</button>
                                                                                            </form>
                                                                                        </div>

                                                                                    </div>

                                                                                </div>

                                                                            </div>

                                                                            <div class="modal fade" id="edit<%=presenter._id%>">
                                                                                <div class="modal-dialog modal-dialog-centered" role="document">
            
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h5 class="modal-title">
                                                                                                <%=presenter.fName%>
                                                                                            </h5>
                                                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                                            </button>
                                                                                        </div>
            
                                                                                        <div class="modal-body">
                                                                                            <form action="/admin/presenter/<%= presenter._id %>?_method=PUT" method="post" class="form-group">
            
            
                                                                                                    <input type="text" name="fName" class="form-control mb-3" placeholder="First Name" value="<%= presenter.fName %>">
                                                                                                    <input type="text" name="lName" class="form-control mb-3" value="<%= presenter.lName %>" placeholder="Last Name">
                                                                                                    <input type="text" name="email" class="form-control mb-3" value="<%= presenter.email %>" placeholder="Email">
                                                                                                    <input type="pNumber" name="pNumber" class="form-control mb-3" value="<%= presenter.pNumber %>" placeholder="Phone Number">
                                                                                                    <!-- <input type="password" name="Password" id="" placeholder="Password"> -->
                                                                                                    <label for="role">Role </label>
                                                                                                    <select name="role" id="role" class="form-control mb-3">
                                                                                                        <option value="<%= presenter.role %>" selected> <%= presenter.role %> </option>
                                                                                                        <option value="Super Admin">Super Admin</option>
                                                                                                        <option value="Program Manager">Program Manager</option>
                                                                                                        <option value="Speaker">Speaker</option>
                                                                                                        <option value="Reviewer">Reviewer</option>
                                                                                                        <option value="Presenter">Presenter</option>
                                                                                                        <option value="Protocol Officer">Protocol Officer</option>
                                                                                                        <option value="Sales-Manager">Sales-Manager</option>
                                                                                                    
                                                                                                    </select>
            
            
                                                                                                    <div class="text-left">
                                                                                                        <button type="submit" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                                                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                                                                    </div>
                                                                                            </form>
                                                                                        </div>
            
                                                                                    </div>
            
                                                                                </div>
            
                                                                            </div>

                                                                            <div class="modal fade" id="delete">
                                                                                <div class="modal-dialog modal-dialog-centered" role="document">
            
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h2 class="modal-title">
                                                                                                Are you sure you want to delete <em> <%=presenter.fName%> <%= presenter.lName %>  ?</em>
                                                                                            </h2>
                                                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                                            </button>
                                                                                        </div>
            
                                                                                        <div class="modal-body">
                                                                                            <form action="/admin/presenter/<%= presenter._id %>?_method=DELETE" method="post">
                                                                                                <div class="text-right">
                                                                                                    <button type="submit" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                                                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
            
                                                                                    </div>
            
                                                                                </div>
            
                                                                            </div>
                                                                <% }%>
                                                                    <% } %>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="more">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="mr-auto pr-3">
                                                <h4 class="text-black font-w600 fs-20">Participants</h4>
                                            </div>
                                        </div>
                                        <div class="card-body d-flex justify-content-around flex-wrap">
                                            <% if (presenters) {%>
                                                <% for (let presenter of presenters) {%>
                                                    <div class="items col-lg-3 col-md-4 col-sm-6">
                                                        <div class="card text-center">
                                                            <div class="card-body">

                                                                <h5 class="fs-16 font-w500 mb-1">
                                                                    <img src=<%=presenter.qrcode %> alt="QR Code">
                                                                </h5>
                                                                <p class="font-w500 text-black">
                                                                    <%=presenter.fName%>
                                                                        <%=presenter.lName%>
                                                                </p>
                                                                <div class="d-flex align-items-center justify-content-center">
                                                                    <span class="text-black ">
                                                                        <%=presenter.role%>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%}%>
                                                        <%}%>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </div>
        </div>
        <!--**********************************
            Content body end
            
        ***********************************-->
        <%- include('../partial/footer') %>