<%- include('../partial/head') %>

    <%- include('../partial/sidebar') %>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/role-player">Role Player</a></li>
                    </ol>

                    <h5><a href="#" data-toggle="modal" data-target="#createRp" class="btn btn-primary mt-5"><i
                                class="fa fa-pencil"></i> Add Role
                            Player</a></h5>
                </div>




                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal fade" id="createRp">
                            <div class="modal-dialog modal-dialog-centered" role="document">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            Create Role Player
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <%- include('../partial/addRpForm') -%>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Role players</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        
                                        <thead>
                                                <tr>
                                                    <th class="width50">
                                                        <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                                            <input type="checkbox" class="custom-control-input" id="checkAll" required="">
                                                            <label class="custom-control-label" for="checkAll"></label>
                                                        </div>
                                                    </th>
                                                    <th>S/N</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Role</th>
                                                    <th>Email</th>
                                                    <th>Phone Number</th>
                                                    <th>Institution</th>
                                                    <th>Manage</th>
                                                </tr>
                                        </thead>
                                        <% for (let r of rp){%>
                                            <tbody>
                                                
                                                    <tr>
                                                        <td>
                                                            <div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckBox3" required="">
                                                                <label class="custom-control-label" for="customCheckBox3"></label>
                                                            </div>
                                                        </td>
                                                        <% let arr = Object.values(rp)%>
													    <td><strong><%=arr.indexOf(r) + 1 %></strong></td>
                                                        <td>
                                                            <%= r.fName %>
                                                        </td>
                                                        <td>
                                                            <%= r.lName %>
                                                        </td>
                                                        <td>
                                                            <%= r.role %>
                                                        </td>
                                                        <td>
                                                            <%= r.email %>
                                                        </td>
                                                        <td>
                                                            <%= r.phoneNumber %>
                                                        </td>
                                                        <td><%= r.institution %> </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1" data-toggle="modal" data-target="#edit<%=r._id%>"><i
                                                                        class="fa fa-pencil"></i></a>
                                                                <a href="#" class="btn btn-primary shadow btn-xs sharp mr-1" data-toggle="modal" data-target="#mailBc"><i
                                                                        class="fa fa-envelope"></i></a>
                                                                <a href="#" class="btn btn-danger shadow btn-xs sharp mr-1" data-toggle="modal" data-target="#delete"><i
                                                                    class="fa fa-trash"></i></a>
                                                                
                                                                

                                                                <!-- Button trigger modal -->


                                                                <div class="modal fade" id="edit<%=r._id%>">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">

                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title">
                                                                                    <%=r.fName%>
                                                                                </h5>
                                                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                                </button>
                                                                            </div>

                                                                            <div class="modal-body">
                                                                                <form action="/admin/role-player/<%= r._id %>?_method=PUT" method="post" class="form-group">


                                                                                        <input type="text" name="fName" class="form-control mb-3" placeholder="First Name" value="<%= r.fName %>">
                                                                                        <input type="text" name="lName" class="form-control mb-3" value="<%= r.lName %>" placeholder="Last Name">
                                                                                        <input type="text" name="email" class="form-control mb-3" value="<%= r.email %>" placeholder="Email">
                                                                                        <input type="pNumber" name="pNumber" class="form-control mb-3" value="<%= r.pNumber %>" placeholder="Phone Number">
                                                                                        <!-- <input type="password" name="Password" id="" placeholder="Password"> -->
                                                                                        <label for="role">Role </label>
                                                                                        <select name="role" id="role" class="form-control mb-3">
                                                                                            <option value="<%= r.role %>" selected> <%= r.role %> </option>
                                                                                            <option value="Super Admin">Super Admin</option>
                                                                                            <option value="Program Manager">Program Manager</option>
                                                                                            <option value="Speaker">Speaker</option>
                                                                                            <option value="Reviewer">Reviewer</option>
                                                                                            <option value="Presenter">Presenter</option>
                                                                                            <option value="Protocol Officer">Protocol Officer</option>
                                                                                            <option value="Sales-Manager">Sales-Manager</option>
                                                                                        
                                                                                        </select>


                                                                                        <div class="text-right">
                                                                                            <button type="submit" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                                                        </div>
                                                                                </form>
                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                                <div class="modal fade" id="mailBc">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">
    
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title">
                                                                                    Send Mail Broadcast
                                                                                </h5>
                                                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                                </button>
                                                                            </div>
    
                                                                            <div class="modal-body">
                                                                                <div class="modal-body">
                                                                                    <form action="#">
                                                                                        <div class="form-group">
                                                                                            <textarea class="form-control" rows="4" id="Broadcast" placeholder="Send a broadcast to role-players"></textarea>
                                                                                        </div>
    
                                                                                        <input type="text" name="email" class="form-control mb-3" placeholder="Email">
    
                                                                                        <button type="submit" class="btn btn-primary">Send Broadcast</button>
    
                                                                                    </form>
                                                                                </div>
    
                                                                            </div>
    
                                                                        </div>
                                                                    </div>
    
                                                                </div>

                                                                <div class="modal fade" id="delete">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">

                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h2 class="modal-title">
                                                                                    Are you sure you want to delete <em> <%=r.fName%> <%= r.lName %>  ?</em>
                                                                                </h2>
                                                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                                </button>
                                                                            </div>

                                                                            <div class="modal-body">
                                                                                <form action="/admin/role-player/<%= r._id %>?_method=DELETE" method="post">
                                                                                    <div class="text-right">
                                                                                        <button type="submit" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                            </tbody>
                                        <% } %>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <%- include('../partial/footer') %>